<h1>Products:</h1>

<mat-form-field >
  <mat-label>Select an option</mat-label>
  <mat-select [(value)]="selected">
    <mat-option>All</mat-option>
    <mat-option value="Notebook">Notebook</mat-option>
    <mat-option value="Netbook">Netbook</mat-option>
    <mat-option value="Laptop">Laptop</mat-option>
  </mat-select>
</mat-form-field>

<!-- <div class="app-products-list" *ngFor="let product of products" >
  <span>{{ product.name }}</span>
  <button routerLink="/detail/{{product.id}}" style="position: absolute; left: 900px">Detail</button>
  <span style="position: absolute; left: 1010px"> {{ 1000 | currency }} </span>
  <button (click)="addToCart(product)">Buy</button>
</div> -->
<table mat-table [dataSource]="products" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef> Brand </th>
    <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
  </ng-container>

  <!-- Model Column -->
  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef> Model </th>
    <td mat-cell *matCellDef="let element"> {{element.model}} </td>
  </ng-container>

  <!-- Country Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.price | currency }} </td>
  </ng-container>

  <!-- Detail Column -->
  <ng-container>
    <ng-container matColumnDef="detail" >
      <mat-header-cell  *matHeaderCellDef ></mat-header-cell>
      <mat-cell *matCellDef="let row" >
           <button mat-button routerLink="/detail/{{row.id}}" style="position: relative; left: 500px" >Detail</button>
           <button mat-button (click)="addToCart()" style="position: relative; left: 500px">Buy</button>
      </mat-cell>
    </ng-container>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
</table>