<a>
<div *ngIf="product">
    <h1>{{product.model}}</h1>
    <p>{{product.madeIn}}</p>
    <p>{{product.brand}}</p>
    <h3>{{product.price | currency}}</h3>
    <h3>{{product.screenSize}}</h3>
    <p>{{product.type}}</p>
    <p>{{product.status}}</p>
</div>
<div class="form-inline"  style="position: relative; top: 200px; position: relative; left: 400px;">   
    <button (click) = increment() style="position: relative; left: 920px">+</button>
    <label style="position: relative; left: 950px; position: relative; top: 5px">{{count}}</label>
    <button (click) = decrement() style="position: relative; left: 980px">-</button>
    <label style="position: relative; left: 1050px;position: relative; top: 5px">{{product.price | currency}}</label>
    <button (click) = addToCart() style="position: relative; left: 1060px" width = 100px>Buy</button>
</div>
<img class="images" alt="computer" src="assets/product.jpg" style="position: absolute; left: 1400px; position: absolute; top: 150px;"/>
</a> 