<kendo-panelbar>
    <kendo-panelbar-item [title]="'Filter'" [expanded]="true">
<ng-template kendoPanelBarContent>

<br />

<!-- <div>
    <h3>Id</h3>
    <label>min: 
    <kendo-numerictextbox
        [min]="0"
        [(ngModel)]="item.idMin"> 
      </kendo-numerictextbox>
    </label>
    <label>max: 
      <kendo-numerictextbox
       [min]="0"
       [(ngModel)]="item.idMax"> 
        </kendo-numerictextbox>
    </label>
</div> -->

<div >
    <h3>Brand</h3>
    <kendo-multiselect [valuePrimitive]="true" [data]="brand" textField="name" valueField="id" [(ngModel)]="item.brand">
    </kendo-multiselect >
    <br />
</div> 

<div >
    <h3>Made in</h3>
    <kendo-multiselect  [valuePrimitive]="true" [data]="country" textField="name" valueField="id" [(ngModel)]="item.madeIn">
    </kendo-multiselect >
    <br />
</div>

<div>
  <h3>Model</h3>
  <kendo-autocomplete [data]="model" [placeholder]="'select model'"[(ngModel)]="item.model" >
  </kendo-autocomplete>
</div>

<div>
<h3>Type</h3>
<label>Laptop: 
   <input type="radio" text="Laptop" name="t" value=1 [(ngModel)]="item.type" kendoRadioButton />
  </label>
  <label>Desktop: 
    <input type="radio" text="Desktop" name="t" value=2 [(ngModel)]="item.type" kendoRadioButton />
  </label>
  <label>Notebook: 
    <input type="radio" text="Notebook" name="t" value=3 [(ngModel)]="item.type" kendoRadioButton />
  </label>
</div>

<div>
  <h3>Price</h3>
  <label>min: 
  <kendo-numerictextbox
  [format]="'c0'"
  [min]="0"
  [(ngModel)]="item.priceMin"> 
    </kendo-numerictextbox>
  </label>
  <label>max: 
    <kendo-numerictextbox
    [format]="'c0'"
    [min]="0"
    [(ngModel)]="item.priceMax"> 
      </kendo-numerictextbox>
  </label>
</div>

<div>
  <h3>Screen Size</h3>
  <label>min: 
  <kendo-numerictextbox
  [min]="0"
  [(ngModel)]="item.screenSizeMin"> 
    </kendo-numerictextbox>
  </label>
  <label>max: 
    <kendo-numerictextbox
    [min]="0"
    [(ngModel)]="item.screenSizeMax"> 
      </kendo-numerictextbox>
  </label>
</div>


<div>
<h3>Status</h3>
<label>New: 
   <input type="radio" text="New" name="s" value=1 [(ngModel)]="item.status" kendoRadioButton />
  </label>
  <label>Refurbished: 
    <input type="radio" text="Refurbished" name="s" value=2  [(ngModel)]="item.status" kendoRadioButton />
  </label>
  <label>Used: 
    <input type="radio" text="Used" name="s" value=3 [(ngModel)]="item.status" kendoRadioButton />
  </label>
  <label>Broken: 
    <input type="radio" text="Broken" name="s" value=4  [(ngModel)]="item.status" kendoRadioButton />
  </label>
</div>

<br />
<br />

<button (click)="clearFilter()">Clear filter</button>
<div class="divider"></div>
<button (click)="filter()">Filter</button>

<br />
<br />

</ng-template>
</kendo-panelbar-item>


<kendo-panelbar-item [title]="'Computers'" [expanded]="true">
<ng-template kendoPanelBarContent>
<kendo-grid [data]="products" 
        [pageSize]="state.take"
        [skip]="state.skip"
        [sort]="state.sort"
        [filter]="state.filter"
        [sortable]="false"
        [pageable]="true"
        [filterable]="false"
        (dataStateChange)="dataStateChange($event)"
        >
  <!-- <kendo-grid-column field="id" title="Id" >
  </kendo-grid-column> -->
  <kendo-grid-column field="brand" title="Brand" >
  </kendo-grid-column>
  <kendo-grid-column field="model" title="Model">
  </kendo-grid-column>
  <kendo-grid-column field="madeIn" title="Country">
  </kendo-grid-column>
  <kendo-grid-column field="type" title="Type" >
  </kendo-grid-column>
  <kendo-grid-column field="status" title="Status" >
  </kendo-grid-column>
  <kendo-grid-column field="screenSize" title="Screen Size" filter="numeric" >
  </kendo-grid-column>
  <kendo-grid-column field="price" title="Price" filter="numeric" [format]="'c0'">
  </kendo-grid-column>
  <kendo-grid-command-column title="" width="220">
    <ng-template kendoGridCellTemplate let-dataItem>
        <button routerLink="/detail/{{dataItem.id}}" >Detail</button>
        <div class="divider"></div>
        <button (click)="addToCart()">Add</button>
    </ng-template>
  </kendo-grid-command-column>

</kendo-grid>
</ng-template>
</kendo-panelbar-item>
</kendo-panelbar>